@charset "utf-8";
*{margin:0; padding:0; list-style:none; box-sizing: border-box; -webkit-box-sizing: border-box; outline: 0; -webkit-tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;}
body{ font-size: 14px; font-family: SimSun,Microsoft YaHei,Microsoft JhengHei,STHeiti STXihei,Arial; color:#666;}
ul,li,ol,dl,dt,dd{list-style:none;}
i,em,var{ font-style:normal;}
/*屏蔽文本框高亮*/
input,textarea{outline: none;-webkit-tap-highlight-color:rgba(0,0,0,0);font-size:0.037334rem ; font-family: SimSun,Microsoft YaHei,Microsoft JhengHei,STHeiti STXihei,Arial;}
/*去除input默认样式*/
input[type=button],input[type=reset],input[type=submit],input[type=text],input[type=password],textarea{-webkit-appearance:none;}
/*link*/
a{text-decoration: none; color:#666;}
:focus{outline:0}
:link,:visited ,ins{text-decoration:none}
.clearfix { zoom:1; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; font-size:0;line-height:0;}
.clear { font-size: 0px; line-height: 0px; clear: both; }
.cb{clear: both;}
em{font-weight:bold}

#c1 {
	background: url("../img/game_bg_2_hd.jpg") no-repeat;
	background-size: contain;
	display: block;
	margin: 0 auto;
}
